@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@font-face {
  font-family: Osmanthus;
  src: url(../Fonts/Osmanthus.otf) format(opentype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Opm;
  src: url(../Fonts/OPM.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(127, 169, 240);
  background-image: url(/img/estrellas.png);
}
.logo {
  display: flex;
  gap: 5px;
  position: relative;
  justify-content: center;
}
.logo_2 {
  display: flex;
  justify-content: center;
}
.texto_titulo {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
}
.imagen_1 {
  max-width: 25%;
}

h1,
h2,
h3 {
  margin: 0;
}
#titulo {
  font-family: Osmanthus, sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  text-align: center;
  color: white;
  text-shadow: 11px 2px 62px #e81919;
  -webkit-text-stroke: #000000 0.6px;
}
#titulo_2 {
  font-family: Opm, sans-serif;
  text-align: center;
  font-size: 0.8em;
  font-weight: 100;
  color: #000;
  text-shadow: 14px 2px 61px #e81919;
  -webkit-text-stroke: #ffffff 0.2px;
}
#titulo_3 {
  font-family: "Dancing Script", cursive;
  font-size: 1em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  position: absolute;
  top: 68px;
  left: 126px;
}

.navbar > .container {
  display: block;
}
.nav-link {
  padding: 3px;
  font-size: 0.5em;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
}
.nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 1px 2px 18px #e81919;
}

@media screen and (min-width: 768px) {
  .imagen_1 {
    max-width: 30%;
  }
  #titulo {
    font-size: 4em;
  }
  #titulo_2 {
    font-size: 2.5em;
  }
  #titulo_3 {
    font-size: 2em;
    position: absolute;
    top: 125px;
    left: 360px;
  }
  .navbar {
    min-height: 100px;
    margin-bottom: 15px;
    border: 1px solid transparent;
  }
  .nav-item {
    border-right: 2px solid black;
  }
  .nav-item:last-child {
    border-right: 0;
  }
  .nav-link {
    font-size: 1em;
    padding: 10px 15px;
  }
}
@media screen and (1024px <= width <= 1399px) {
  body {
    margin: auto;
    width: 60%;
  }
  .imagen_1 {
    max-width: 20%;
  }
  .nav-link {
    font-size: 1em;
  }
  #titulo {
    font-size: 3.5em;
  }
  #titulo_2 {
    font-size: 2em;
  }
  #titulo_3 {
    font-size: 2em;
    position: absolute;
    top: 94px;
    left: 250px;
  }
  .navbar-nav {
    margin: 25px 0px 1px 0px;
    justify-content: space-around;
  }
}
@media screen and (1400px <= width) {
  body {
    margin: auto;
    width: 60%;
  }
  #titulo_3 {
    font-size: 2.5em;
    position: absolute;
    top: 130px;
    left: 545px;
  }
}
