@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@font-face {
  font-family: Osmanthus;
  src: url(../Fonts/Osmanthus.otf) format(opentype);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Opm;
  src: url(../Fonts/OPM.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}
* {
  text-decoration: none;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(../img/estrellas.png);
  background-color: rgb(127, 169, 240);
}
.logo {
  display: flex;
  gap: 5px;
  position: relative;
  justify-content: center;
}
.logo_2 {
  display: flex;
  justify-content: center;
}
.texto_titulo {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
}
.imagen_1 {
  max-width: 25%;
}

h1,
h2,
h3 {
  margin: 0;
}
#titulo {
  font-family: Osmanthus, sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  text-align: center;
  color: white;
  text-shadow: 11px 2px 62px #e81919;
  -webkit-text-stroke: #000000 0.6px;
}
#titulo_2 {
  font-family: Opm, sans-serif;
  text-align: center;
  font-size: 0.8em;
  font-weight: 100;
  color: #000;
  text-shadow: 14px 2px 61px #e81919;
  -webkit-text-stroke: #ffffff 0.2px;
}
#titulo_3 {
  font-family: "Dancing Script", cursive;
  font-size: 1em;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 0.8em;
  position: absolute;
  top: 68px;
  left: 126px;
}

.navbar > .container {
  display: block;
}
.nav-link {
  padding: 3px;
  font-size: 0.5em;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  text-align: center;
}
.nav-link:hover {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 2px 2px 18px #e81919;
  transform: translateY(-2px);
  transition: all 0.2s;
}
.contenedor_tres_columnas {
  display: grid;
  grid-template-columns: repeat(3);
  grid-template-rows: repeat(4);
  gap: 10px;
}
.carrou {
  grid-column: span 3;
  width: 100%;
  justify-self: center;
}

.oferta {
  grid-column: span 3;
  background: #eee;
}
.foto_1 {
  background-color: darkgreen;
}

.foto_2 {
  background-color: brown;
}

.foto_3 {
  background-color: cyan;
}
.proximamente {
  grid-column: span 3;
  background-color: yellow;
}
.sobreimpreso {
  background-image: url(../img/transparent-black.png);
  position: absolute;
  top: 0;
  right: 0;
  left: 45%;
  bottom: 0;
}
#subir {
  display: flex;
  width: 10%;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  background: #eee;
  border: 0;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  color: #000000;
}
#subir:hover {
  background: rgb(127, 169, 240);
  font-weight: bold;
}
.viajes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
}
.cataratas {
  width: 100%;
  padding: 10px;
}
.cataratas_1 {
  width: 100%;
  border-radius: 10px;
}
.titulo_oferta {
  font-size: 1em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.info {
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding-bottom: 5px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.info h4 {
  font-size: 1em;
  font-weight: 900;
}
.ph--star-bold {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23f7db26' d='M243 96a20.33 20.33 0 0 0-17.74-14l-56.59-4.57l-21.84-52.81a20.36 20.36 0 0 0-37.66 0L87.35 77.44L30.76 82a20.45 20.45 0 0 0-11.66 35.88l43.18 37.24l-13.2 55.7A20.37 20.37 0 0 0 79.57 233L128 203.19L176.43 233a20.39 20.39 0 0 0 30.49-22.15l-13.2-55.7l43.18-37.24A20.43 20.43 0 0 0 243 96m-70.47 45.7a12 12 0 0 0-3.84 11.86L181.58 208l-47.29-29.08a12 12 0 0 0-12.58 0L74.42 208l12.89-54.4a12 12 0 0 0-3.84-11.86l-42.27-36.5l55.4-4.47a12 12 0 0 0 10.13-7.38L128 41.89l21.27 51.5a12 12 0 0 0 10.13 7.38l55.4 4.47Z'/%3E%3C/svg%3E");
}
p {
  margin-bottom: 0;
}
.btn-primary a {
  color: #ffff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    margin: auto;
    width: 92%;
  }

  .imagen_1 {
    max-width: 30%;
  }
  #titulo {
    font-size: 4em;
  }
  #titulo_2 {
    font-size: 2.5em;
  }
  #titulo_3 {
    font-size: 2em;
    position: absolute;
    top: 125px;
    left: 360px;
  }
  .navbar {
    min-height: 100px;
    margin-bottom: 3px;
    border: 1px solid transparent;
  }
  .nav-item {
    border-right: 2px solid black;
  }
  .nav-item:last-child {
    border-right: 0;
  }
  .nav-link {
    font-size: 1em;
    padding: 10px 15px;
  }
  #subir {
    font-size: 1em;
    width: 15%;
  }
  .viajes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
  }
  .cataratas {
    width: 40%;
  }
  .titulo_oferta {
    font-size: 2em;
  }
  .info {
    width: 60%;
    font-size: 1.5em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
  }
  .ph--star-bold {
    width: 24px;
    height: 24px;
  }
}
@media screen and (1024px <= width <= 1399px) {
  body {
    margin: auto;
    width: 60%;
  }
  .imagen_1 {
    max-width: 20%;
  }
  .nav-link {
    font-size: 1em;
  }
  #titulo {
    font-size: 3.5em;
  }
  #titulo_2 {
    font-size: 2em;
  }
  #titulo_3 {
    font-size: 2em;
    position: absolute;
    top: 94px;
    left: 250px;
  }
  .navbar-nav {
    margin: 25px 0px 1px 0px;
    justify-content: space-around;
  }
  .cataratas {
    width: 50%;
  }
  .info {
    width: 50%;
  }
}
@media screen and (1400px <= width) {
  body {
    margin: auto;
    width: 60%;
  }
  #titulo_3 {
    font-size: 2.5em;
    position: absolute;
    top: 130px;
    left: 545px;
  }
  #subir {
    width: 10%;
  }
  .cataratas {
    width: 60%;
  }
  .titulo_oferta {
    font-size: 2.5em;
  }
  .info {
    width: 40%;
    font-size: 2em;
  }
  .ph--star-bold {
    width: 32px;
    height: 32px;
  }
}
